{% include 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h4>Apartments</h4>
    <div class="mb-3">
        <a href="add/" class="btn btn-primary">Add apartment</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Number of rooms</th>
            <th>Address</th>
            <th>Manager</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
        <tr>
            <td><a href="update/{{ object.0 }}">{{ object.0 }}</a></td>
            <td>{{ object.1 }}</td>
            <td>{{ object.2 }}</td>
            <td>{{ object.3 }} {{ object.4 }} Phone: <b>{{ object.5 }}</b></td>
            <td>{{ object.6 }}</td>
            <td><a href="delete/{{ object.0 }}" class="btn btn-danger">delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}