{% include 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h4>Services</h4>
    <div class="mb-3">
        <a href="add/" class="btn btn-primary">Add service</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Service name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr>
            <td><a href="update/{{ service.id }}">{{ service.id }}</a></td>
            <td>{{ service.service_name }}</td>
            <td>{{ service.price_id_id }}</td>
            <td><a href="delete/{{ employee.id }}" class="btn btn-danger">delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}