{% include 'base.html' %}

{% block content %}
<h2>Update Apartment</h2>
<form action="updateapartment/{{ apartment.id }}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="num_of_rooms">Number of rooms:</label>
        <input type="text" class="form-control" id="num_of_rooms" name="num_of_rooms" required>
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address" required>
    </div>
    <div class="form-group">
        <label for="manager_id">Manager ID:</label>
        <input type="text" class="form-control" id="manager_id" name="manager_id" required>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" name="price" required>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary">Update Apartment</button>
</form>
{% endblock %}